

.parallax {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    scroll-behavior: smooth;
}

.parallax h1 {
    font-size: 80px;
}

.parallax .mountains {
    background-image: url("../../public/images/mountains.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}

.parallax .planets {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.parallax .stars {
    background-image: url("../../public/images/stars.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
}

@media screen and (max-width: 768px) {

    .parallax {
        height: 60vh;
    }

    .parallax h1 {
        font-size: 40px;
        text-align: center;
    }

    .parallax .mountains {
        background-size: contain;
        background-repeat: no-repeat;
    }

    .parallax .stars {

        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 400px) { 
    .parallax h1 {
        font-size: 32px;
        text-align: center;
    }
}
@media screen and (max-width: 830px) { 
    .parallax h1 {
        font-size: 52px;
        text-align: center;
    }
}
@media screen and (max-width: 540px) { 
    .parallax h1 {
        font-size: 45px;
        text-align: center;
    }
}